* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    justify-content: center;
    margin: 0px 10px;
    position: relative;
    overflow: hidden;
    height: 100vh;
}
span {

}
.my-key, .my-point {
    background: rgb(191, 211, 240);
    height: 40px;
    flex:1;
    line-height: 40px;
    z-index: 1000;
}
.container-footer {
    display: flex;
    position: fixed;
    z-index: 10000;
    bottom: 0;
    width: 100vw;
}
.my-point {
    left: 50%;
}
span {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    display: inline-block;
	width: 20px;
	height: 20px;
	padding: 15px;
    text-align: center;
    line-height: 20px;
	box-sizing: content-box;
	border: 2px solid white;
	border-radius: 50%;
	box-shadow: inset 0px 0px 25px #23b7a4, 0px 0px 15px #23b7a4;
    animation-name: animationKey;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    top: -100px;
}
@keyframes animationKey {
    0%   {
        color: red;
        width: 20px; 
        height: 20px;
        line-height: 20px;
        font-size: 30px;
        transform: rotateZ(0deg);
        box-shadow: inset 0px 0px 25px red, 0px 0px 15px red;
    }
    25%  {
        color: black;
        width: 50px; 
        height: 50px; 
        line-height: 50px;
        font-size: 50px;

        box-shadow: inset 0px 0px 25px yellow, 0px 0px 15px yellow;
    }
    50%  {
        color: blue;
        width: 30px; 
        height: 30px;
        line-height: 30px;
        font-size: 30px;
        box-shadow: inset 0px 0px 25px blue, 0px 0px 15px blue;
    }
    75%  {
        color: green;
        width: 60px; 
        height: 60px;
        line-height: 60px;
        font-size: 60px;
        box-shadow: inset 0px 0px 25px green, 0px 0px 15px green;
    }
    100% {
        color: #23b7a4;
        width: 15px; 
        height: 15px; 
        line-height: 15px;
        font-size: 15px;
        box-shadow: inset 0px 0px 25px #23b7a4, 0px 0px 15px #23b7a4;
        transform: rotateZ(360deg);

    }
}
